In [10]:
from get_news import get_headlines
import pandas as pd
import numpy as np

In [3]:
# gets headlines from news source as csv
sources = ['reuters','buzzfeed','entertainment-weekly']

for source in sources:
    get_headlines(source)

In [7]:
# combine baseline dataframes into 1
reuters = pd.read_csv('../../data/reuters.csv')
buzzfeed = pd.read_csv('../../data/buzzfeed.csv')
ew = pd.read_csv('../../data/entertainment-weekly.csv')

sources = [reuters,buzzfeed,ew]
baseline = pd.concat(sources,ignore_index=True)
baseline.head(1)

,author,title,description,url,urlToImage,publishedAt,content,source.id,source.name
0,Reuters,Germany's Kuehne examines offer for Signa's Ha...,German logistics entrepreneur Klaus-Michael Ku...,https://www.reuters.com/business/germanys-kueh...,https://www.reuters.com/resizer/-J5TEXoXkkAHtd...,2023-11-26T19:54:14Z,"FRANKFURT, Nov 26 (Reuters) - German logistics...",reuters,Reuters

In [8]:
# import news dataset
news = pd.read_csv('../../data/news.csv')
news.head(1)

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,category,article,title_sentiment
0,81664,NaN,Forbes,"Elizabeth Brownfield, Contributor, \n Elizabet...",superstar chef yannick alléno brings refined f...,Now open in Mayfair at Four Seasons Hotel Lond...,https://www.forbes.com/sites/elizabethbrownfie...,https://imageio.forbes.com/specials-images/ima...,2023-11-01 03:27:21.000000,"Pavyllon London, at Four Seasons Hotel London ...",Monaco,"pavyllon london, at four seasons hotel london ...",Neutral

In [12]:
# check dataset for patterns, outliers:
datasets = [baseline,news]

for dataset in datasets:
    dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   author       300 non-null    object
 1   title        300 non-null    object
 2   description  300 non-null    object
 3   url          300 non-null    object
 4   urlToImage   300 non-null    object
 5   publishedAt  300 non-null    object
 6   content      300 non-null    object
 7   source.id    300 non-null    object
 8   source.name  300 non-null    object
dtypes: object(9)
memory usage: 21.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46680 entries, 0 to 46679
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   article_id       46680 non-null  int64
 1   source_id        13495 non-null  object
 2   source_name      46680 non-null  object
 3   author           44517 non-null  object
 4   title            46680 non-null  object
 5   description      46671 non-null  object
 6   url              46680 non-null  object
 7   url_to_image     43888 non-null  object
 8   published_at     46680 non-null  object
 9   content          46680 non-null  object
 10  category         46663 non-null  object
 11  article          46680 non-null  object
 12  title_sentiment  46680 non-null  object
dtypes: int64(1), object(12)
memory usage: 4.6+ MB

In [20]:
for dataset in datasets:
    print(dataset.describe(exclude=np.number).T)

            count unique                                                top  \
author        300    125                                            Reuters
title         300    300  Germany's Kuehne examines offer for Signa's Ha...
description   300    300  German logistics entrepreneur Klaus-Michael Ku...
url           300    300  https://www.reuters.com/business/germanys-kueh...
urlToImage    300    296  https://www.reuters.com/pf/resources/images/re...
publishedAt   300    297                               2023-11-23T05:01:03Z
content       300    299  This is compatible with Mac, PC, and Chrome la...
source.id     300      3                                            reuters
source.name   300      3                                            Reuters

            freq
author        44
title          1
description    1
url            1
urlToImage     4
publishedAt    2
content        2
source.id    100
source.name  100
                 count unique  \
source_id        13495     10
source_name      46680     29
author           44517   6195
title            46680  42181
description      46671  41875
url              46680  42907
url_to_image     43888  27642
published_at     46680  32573
content          46680  41358
category         46663    255
article          46680  42627
title_sentiment  46680      3

                                                               top   freq
source_id                                       the-times-of-india   4987
source_name                                         ETF Daily News  14277
author                                             MarketBeat News  14275
title                        statement by russian defence ministry     11
description                                         No description    511
url              https://timesofindia.indiatimes.com/business/i...      2
url_to_image     https://www.marketscreener.com/images/twitter_...    629
published_at                                   2023-11-08 10:05:18    122
content          Rashmika Mandanna shines in ethnic wear, inspi...    129
category                                                     Stock   3027
article          WASHINGTON --PresidentJoe Bidencalled the head...      6
title_sentiment                                            Neutral  34429

In [22]:
# check for duplicates
print(baseline.duplicated().sum(),
news.duplicated().sum())

0 3773

In [27]:
# drop duplicate rows
news = news.drop_duplicates()
news.duplicated().sum()

0

In [28]:
# rename title to headline, source.name to source
baseline = baseline.rename(columns={'title':'headline','source.name':'source'})
news = news.rename(columns={'title':'headline','source_name':'source'})

In [35]:
# dropping all columns except for headline title, source
baseline = baseline.filter(['headline','source'])
news = news.filter(['headline','source'])

In [42]:
from langdetect import detect

# drop non-english headlines
baseline['language'] = baseline['headline'].apply(detect)
baseline = baseline[baseline['language'] == 'en']
baseline = baseline.drop(columns='language')

news['language'] = news['headline'].apply(detect)
news = news[news['language'] == 'en']
news = news.drop(columns='language')

In [47]:
baseline.to_csv('baseline_clean.csv',index=False)
news.to_csv('news_clean.csv',index=False)