In [33]:
import pandas as pd

In [34]:
baseline = pd.read_csv('../data/baseline.csv')
baseline.head()

                                            headline   source  sensational
0  Germany's Kuehne examines offer for Signa's Ha...  reuters            0
1  Shoppers click 'buy' as retailers slash prices...  reuters            0
2  US Black Friday sales rise 2.5% -Mastercard Sp...  reuters            0
3  X may lose up to $75M by year-end on advertise...  reuters            0
4  Sri Lanka to OK Sinopec's $4.5 bln refinery pr...  reuters            0

In [35]:
# creating feature for number of words in each headline
def count_words(text):
    return len(text.split())

baseline['headline_length'] = baseline['headline'].apply(count_words)

In [37]:
# creating feature for a ratio of unique words to total words in a headline
def unique_ratio(text):
    words = text.split()
    unique_words = len(set(words)) / len(words)
    return unique_words

baseline['unique_ratio'] = baseline['headline'].apply(unique_ratio)

In [41]:
from readability import Readability as read

In [40]:
baseline

,headline,source,sensational,headline_length,unique_ratio
0,Germany's Kuehne examines offer for Signa's Ha...,reuters,0,10,1.0
1,Shoppers click 'buy' as retailers slash prices...,reuters,0,11,1.0
2,US Black Friday sales rise 2.5% -Mastercard Sp...,reuters,0,8,1.0
3,X may lose up to $75M by year-end on advertise...,reuters,0,11,1.0
4,Sri Lanka to OK Sinopec's $4.5 bln refinery pr...,reuters,0,12,1.0
...,...,...,...,...,...
293,Matthew Perry stopped Chandler cheating storyl...,ew,1,8,1.0
294,Read Stephen King's 'Cujo' sequel in excerpt f...,ew,1,11,1.0
295,"Zac Efron, Jeremy Allen White on true story of...",ew,1,11,1.0
296,Black Panther stuntman and children killed in ...,ew,1,9,1.0
297,Peter White dead: All My Children star was 86,ew,1,9,1.0