In [30]:
import pandas as pd

In [31]:
baseline = pd.read_csv('../data/baseline.csv')
baseline.head()

                                            headline   source  sensational
0  Germany's Kuehne examines offer for Signa's Ha...  reuters            0
1  Shoppers click 'buy' as retailers slash prices...  reuters            0
2  US Black Friday sales rise 2.5% -Mastercard Sp...  reuters            0
3  X may lose up to $75M by year-end on advertise...  reuters            0
4  Sri Lanka to OK Sinopec's $4.5 bln refinery pr...  reuters            0

In [32]:
# creating feature for number of words in each headline
def count_words(text):
    return len(text.split())

baseline['headline_length'] = baseline['headline'].apply(count_words)

In [33]:
# creating feature for a ratio of unique words to total words in a headline
def unique_ratio(text):
    words = text.split()
    unique_words = len(set(words)) / len(words)
    return unique_words

baseline['unique_ratio'] = baseline['headline'].apply(unique_ratio)

In [34]:
from preprocess_text import preprocess

In [35]:
# recall function to preprocess text for NLP
baseline['headline_processed'] = baseline['headline'].apply(preprocess)

In [36]:
baseline.head()

,headline,source,sensational,headline_length,unique_ratio,headline_processed
0,Germany's Kuehne examines offer for Signa's Ha...,reuters,0,10,1.0,germani kuehn examin offer signa hamburg skysc...
1,Shoppers click 'buy' as retailers slash prices...,reuters,0,11,1.0,shopper click buy retail slash price ahead cyb...
2,US Black Friday sales rise 2.5% -Mastercard Sp...,reuters,0,8,1.0,u black friday sale rise 25 mastercard spendin...
3,X may lose up to $75M by year-end on advertise...,reuters,0,11,1.0,x may lose 75m yearend advertis exodu
4,Sri Lanka to OK Sinopec's $4.5 bln refinery pr...,reuters,0,12,1.0,sri lanka ok sinopec 45 bln refineri propos mo...

In [42]:
pd.Series(' '.join(baseline['headline_processed']).split()).value_counts()[:30]

product    40
â€™          30
new        22
say        18
u          17
gift       17
make       17
day        15
thing      15
season     13
realli     12
home       12
want       11
deal       11
star       10
peopl      10
first       9
matthew     9
perri       9
25          8
33          8
buy         8
32          8
share       8
get         8
30          7
trailer     7
movi        7
one         7
show        6
Name: count, dtype: int64