In [27]:
import pandas as pd
from lexicalrichness import LexicalRichness

In [2]:
baseline = pd.read_csv('../data/baseline.csv')
baseline.head()

                                            headline   source  sensational
0  Germany's Kuehne examines offer for Signa's Ha...  reuters            0
1  Shoppers click 'buy' as retailers slash prices...  reuters            0
2  US Black Friday sales rise 2.5% -Mastercard Sp...  reuters            0
3  X may lose up to $75M by year-end on advertise...  reuters            0
4  Sri Lanka to OK Sinopec's $4.5 bln refinery pr...  reuters            0

In [23]:
# creating feature for number of words in each headline
def count_words(text):
    return len(text.split())

baseline['headline_length'] = baseline['headline'].apply(count_words)

In [28]:
# creating feature for measure of lexical diversity - ratio of unique words
def mtld(text):
    lex = LexicalRichness(text)
    return lex.mtld()

baseline['mtld'] = baseline['headline'].apply(mtld)

In [32]:
baseline.head(15)

,headline,source,sensational,headline_length,mtld
0,Germany's Kuehne examines offer for Signa's Ha...,reuters,0,10,40.32
1,Shoppers click 'buy' as retailers slash prices...,reuters,0,11,11.00
2,US Black Friday sales rise 2.5% -Mastercard Sp...,reuters,0,8,7.00
3,X may lose up to $75M by year-end on advertise...,reuters,0,11,11.00
4,Sri Lanka to OK Sinopec's $4.5 bln refinery pr...,reuters,0,12,12.00
5,Brazil signs on to global climate deal to trip...,reuters,0,11,33.88
6,"World's largest iceberg breaks free, heads tow...",reuters,0,9,10.00
7,Buffett's Berkshire Hathaway exits India's Pay...,reuters,0,10,33.88
8,Swedish union blocks Tesla components as dispu...,reuters,0,8,8.00
9,Tesla ready to invest up to $2 bln to build In...,reuters,0,16,31.50
10,Grid operator to interfere in Finnish electric...,reuters,0,11,11.00
11,Explainer: Global fossil fuel subsidies on the...,reuters,0,12,12.00
12,Exclusive: Barclays working on $1.25 billion c...,reuters,0,15,13.00
13,Don't press 'pandemic panic button' scientists...,reuters,0,11,12.00
14,Sam Altman's ouster was precipitated by letter...,reuters,0,12,13.00

In [30]:
baseline.headline[0]

"Germany's Kuehne examines offer for Signa's Hamburg skyscraper, Handelsblatt reports"