In [10]:
import pandas as pd
from preprocess_text import count_words, unique_ratio, preprocess, sensational_words

pd.set_option('display.max_colwidth', 0)

In [11]:
news = pd.read_csv('../data/news_clean.csv')
news.head()

,source,headline,title_sentiment
0,Forbes,superstar chef yannick alléno brings refined french cuisine to pavyllon london,Neutral
1,CNA,nice claim top spot in ligue 1 with late win at clermont,Positive
2,Time,amphibians are the world’s most vulnerable species and threats are increasing,Negative
3,Phys.Org,image: rusty red waters in madagascar,Neutral
4,Digital Trends,everything leaving max (formerly hbo max) in november 2023,Neutral

In [3]:
news = news.drop(columns='title_sentiment')

In [4]:
news['headline_length'] = news['headline'].apply(count_words)

In [5]:
news['unique_ratio'] = news['headline'].apply(unique_ratio)

In [6]:
news['headline_processed'] = news['headline'].apply(preprocess)

In [7]:
# get frequency, frequency ratio of commonly used sensational words
news['frequency'] = news['headline_processed'].apply(lambda row: sum([row.split().count(word) for word in sensational_words]))
news['frequency_ratio'] = news['frequency'] / news['headline_length']
# frequency ratio is a more accurate measure than frequency
news = news.drop(columns='frequency')

In [8]:
news = news[['headline','headline_processed','headline_length','unique_ratio','frequency_ratio','source']]

In [11]:
# creating dummy variables for news sources
news = pd.get_dummies(news, columns=['source'], drop_first=False, dtype=int)

In [13]:
news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44907 entries, 0 to 44906
Data columns (total 34 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   headline                             44907 non-null  object
 1   headline_processed                   44907 non-null  object
 2   headline_length                      44907 non-null  int64
 3   unique_ratio                         44907 non-null  float64
 4   frequency_ratio                      44907 non-null  float64
 5   source_ABC News                      44907 non-null  int32
 6   source_Al Jazeera English            44907 non-null  int32
 7   source_AllAfrica - Top Africa News   44907 non-null  int32
 8   source_Android Central               44907 non-null  int32
 9   source_BBC News                      44907 non-null  int32
 10  source_Boing Boing                   44907 non-null  int32
 11  source_Business Insider              44907 non-null  int32
 12  source_CNA                           44907 non-null  int32
 13  source_CNN                           44907 non-null  int32
 14  source_Deadline                      44907 non-null  int32
 15  source_Digital Trends                44907 non-null  int32
 16  source_ETF Daily News                44907 non-null  int32
 17  source_Euronews                      44907 non-null  int32
 18  source_Forbes                        44907 non-null  int32
 19  source_Gizmodo.com                   44907 non-null  int32
 20  source_Globalsecurity.org            44907 non-null  int32
 21  source_GlobeNewswire                 44907 non-null  int32
 22  source_International Business Times  44907 non-null  int32
 23  source_Marketscreener.com            44907 non-null  int32
 24  source_NPR                           44907 non-null  int32
 25  source_Phys.Org                      44907 non-null  int32
 26  source_RT                            44907 non-null  int32
 27  source_ReadWrite                     44907 non-null  int32
 28  source_The Indian Express            44907 non-null  int32
 29  source_The Punch                     44907 non-null  int32
 30  source_The Times of India            44907 non-null  int32
 31  source_The Verge                     44907 non-null  int32
 32  source_Time                          44907 non-null  int32
 33  source_Wired                         44907 non-null  int32
dtypes: float64(2), int32(29), int64(1), object(2)
memory usage: 6.7+ MB

In [9]:
news.to_csv('news_features.csv',index=False)